.toolbar {
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
    background-color: #3f51b5;
    font-size: 16px;
    color: #fff;
    border: 0;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    height: 55px;
}