<div class="main-container">
    <div class="sub-container" fxLayout="column" fxFlex="100">
        <h1 fxLayout="row">Subject Obervable</h1>
        <mat-card fxLayout="column">
            <div fxLayout="row" fxFlex="100" fxLayoutGap="30px">
                <mat-form-field class="example-form-field" fxFlex="60">
                    <input matInput type="text" placeholder="Enter a name" [(ngModel)]="inutValue" #myTextVal>
                    <button mat-button *ngIf="inutValue" matSuffix mat-icon-button aria-label="Clear" (click)="inutValue=''">
                      <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <button fxFlex="20" mat-raised-button color="primary" (click)="sendTextValue(myTextVal)">Submit</button>

            </div>
            <div fxLayout="row" fxFlex="100">
                <span style="font-size:25px; margin-top:20px;"><strong>{{username}}</strong></span>
            </div>
        </mat-card>
    </div>
</div>